{% extends 'layouts/base.html.twig' %}

{% block title 'Partagez vos médias avec vos amis' %}

{% block body %}
	{% if app.user %}
		<h1 class="text-center ">Bienvenue {{ app.user.firstName}}</h1>
		
	{% else %}

		<h1 class="text-center ">Bonjour, Veuillez vous connecter</h1>

	{% endif %}	
{% endblock %}
