{% extends 'layouts/base.html.twig' %}

{% block title 'Partagez vos médias avec vos amis' %}

{% block body %}
	<h1>Page d'accueil de BibliAmis</h1>
	<a href="{{path('app_books_index')}}">Livres</a>
{% endblock %}
