<h1>Bonjour! Veuillez confirmer votre Email</h1>

<p>
    Merci de confirmer voutre Email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement !
</p>
