{% extends 'base.html.twig' %}

{% block title "Nouveau livre" %}

{% block body %}

	<h1>Création d'un nouveau Livre</h1>

	{{ form_start(formCreateBook) }}
		
		{{ form_widget(formCreateBook) }}

		<input type="submit" value="Création du livre" formnovalidate>

	{{ form_end(formCreateBook) }}

{% endblock %}