{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier livre #' ~ book.id %}

{% block body %}

	<h1>Modification du Livre #{{ book.id }}</h1>

	{{ include('layouts/partials/_form.html.twig', {'submitButtonText': 'Modifier le livre'}) }}

{% endblock %}