{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}

	
			<article>

				<h1>{{ pin.title }}</h1>
				<p>{{ pin.author }} </p>
				<p>{{ pin.comments }}</p>

			</article>
			<a href="{{path('app_home')}}">Retour à l'accueil</a>

	{% endfor %}

{% endblock %}