{% extends 'layouts/base.html.twig' %}

{% block title 'Emprunter un média de notre bibliothèque' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}


            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
