{% extends 'layouts/base.html.twig' %}

{% block title 'Partagez vos médias avec vos amis' %}

{% block body %}
	
		<h1 class="text-center ">Bienvenue dans le menu Administrator </h1>

{% endblock %}
