{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier jeu #' ~ game.id %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
		    <h1>Modification du Jeu #{{ game.id }}</h1>

		    {{ include('layouts/partials/_form.html.twig', {'submitButtonText': 'Modifier le jeu'}) }}
		</div>
	</div>
{% endblock %}