{% extends 'layouts/base.html.twig' %}

{% block title "Nouveau Disque" %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Création d'un Disque</h1>

			{{ include('layouts/partials/_form.html.twig')}}
		</div>
	</div>

{% endblock %}