{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier disque #' ~ disc.id %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Modification du Disque #{{ disc.id }}</h1>

			{{ include('layouts/partials/_form.html.twig', {'submitButtonText': 'Modifier le disque'}) }}
		</div>
	</div>	
{% endblock %}