{% extends 'base.html.twig' %}

{%  block body %}
	<div class="row">
		<div class="col-md6 mx-auto">
			<h1>!!! Page non trouvée</h1>

			<p>
				La page demandée n'a pas été trouvée. Vérifier votre lien URL
				ou <a href="{{ path('app_home') }}">retournez à la page d'accueil</a>
			</p>
		</div>
	</div>
{% endblock %}