{% extends 'layouts/base.html.twig' %}

{%  block body %}
	<div class="row">
		<div class="col-md6 mx-auto text-center">
			<h1>!!! Accés Refusé!!! </h1>

			<p>
				Vous n'avez pas accès à cette page retournez à la <a href="{{ path('app_home') }}"> page d'accueil</a>
			</p>
		</div>
	</div>
{% endblock %}